---
- name: "Download Filebeat's rpm"
  get_url:
    url: "https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-{{ elk_stack_version }}-x86_64.rpm"
    dest: "/tmp/filebeat-{{ elk_stack_version }}-x86_64.rpm"
  register: download_filebeat
  until: download_filebeat is succeeded
- name: Install Filebeat
  yum:
    name: "/tmp/filebeat-{{ elk_stack_version }}-x86_64.rpm"
    state: present
- name: Configure Filebeat
  template:
    src: filebeat.yml.j2
    dest: /etc/filebeat/filebeat.yml
    mode: 0644
  notify: restart Filebeat
- name: Set filebeat to collect system logs
  command:
    cmd: filebeat modules enable system
    chdir: /usr/share/filebeat/bin
  register: filebeat_modules
  changed_when: filebeat_modules.stdout != 'Module system is already enabled'
#- name: Load Kibana dashboard
#  command:
#    cmd: filebeat setup
#    chdir: /usr/share/filebeat/bin
#  register: filebeat_setup
#  changed_when: false
#  until: filebeat_setup is succeeded
